<%- layout("/layouts/boilerplate.ejs") -%>
<body>
<div class="container mt-2 mb-2">
    <div class="card mx-auto" style="width: 600px; height:750px; overflow: hidden;">
        <% if (listing.image) { %>
            <img src="<%= listing.image %>" class="card-img-top" alt="Listing Image" style="height: 400px; object-fit: cover;">
        <% } %>
        <div class="card-body p-3">
            <h5 class="card-title text-center mb-3">Listing Details</h5>
            <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item p-1"><strong>Title:</strong> <%= listing.title %></li>
                <li class="list-group-item p-1"><strong>Description:</strong> <%= listing.description %></li>
                <li class="list-group-item p-1"><strong>Price:</strong> $<%= listing.price %></li>
                <li class="list-group-item p-1"><strong>Location:</strong> <%= listing.location %></li>
                <li class="list-group-item p-1"><strong>Country:</strong> <%= listing.country %></li>
            </ul>

            <div class="d-flex justify-content-around mt-2">
                <form method="post" action="/listings/<%= listing.id %>">
                    <button type="submit" class="btn btn-warning btn-sm">Edit</button>
                </form>
                <form method="post" action="/listings/<%= listing.id %>?_method=DELETE">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>


</body>